<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="modals">
    <div class="modal fade" id="deleteAccountModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Are you sure you want to delete your account? This action is permanent and cannot be undone.</p>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <form th:action="@{/users/{id}/delete(id=${loggedInUser?.id})}" method="post" class="m-0">
                        <button type="submit" class="btn btn-danger btn-sm">Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>