<nav th:fragment="navbar" class="navbar navbar-main py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="nav-link navbar-brand-link" href="/">
            <img src="/images/snailmail_logo.png" alt="Snail Mail" class="navbar-logo">
        </a>
        <div class="d-flex gap-3 align-items-center">
            <span class="tape tape-1"></span>
            <span class="tape tape-2"></span>
            <span class="tape tape-3"></span>
            <a href="/groups" class="nav-link">Circles</a>
            <a href="/groups/create" class="nav-link">Create Circle</a>

            <!--account dropdown-->
            <div class="dropdown">
                <img th:src="${loggedInUser?.profilePictureUrl} ?: 'https://ui-avatars.com/api/?name=' + ${loggedInUser?.email?.substring(0,1)} + '&background=random&rounded=true&size=36'"
                     alt="Profile"
                     class="rounded-circle"
                     data-bs-toggle="dropdown"
                     style="width: 36px; height: 36px; object-fit: cover; cursor: pointer;"
                     aria-expanded="false">
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" th:href="@{/users/{id}(id=${loggedInUser?.id})}">My Account</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
