<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body lang="en">
    <h3 th:text="'Account page: ' + ${user.getEmail()}"></h3>
    <p th:text="${user.getName()}"></p>
    <p th:text="${user.getBio()}"></p>

    <button>Edit your profile</button>

    <form action="#" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
        <label th:for="name">Name:
            <input type="text" th:field="*{name}" />
        </label>
        <label th:for="bio">Bio:
            <input type="text" th:field="*{bio}" />
        </label>
        <input type="submit" value="submit" />
        <input type="reset" value="reset"/>
    </form>
</body>
</html>