<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Invited Group</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<h1>You were invited to this group:</h1>

<div th:each="group : ${groups}">
    <p><strong th:text="${group.name}"></strong></p>
</div>

<a href="/groups">Back to your groups</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>